.main_header {
  background-color: #f9fafb;
}
.search_section {
  background-color: #f4f5f6;
}
.icon_grid {
  background-color: #e5e5e8;
}
.border-right {
  border-right: black solid 1px;
}
